article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

body {
  padding-top: 50px;
  font-family: sans-serif;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* ==========================================================
 						HEADER
 ==========================================================*/
.section {
  width: 100%;
}

.header {
  z-index: 9999;
}

.container {
  width: 100%;
  margin: 0 auto;
  margin-top: 19px;
}

.navigation {
  text-align: center;
  z-index: 999;
  width: 100%;
  position: fixed;
  background: #fefefe;
  opacity: 0.9;
  margin: 0 auto;
  left: 0;
  top: 0;
  border-bottom: 2px solid #efefef;
}

.top-nav {
  display: inline-block;
  margin: 25px;
}

.top-nav li {
  list-style-type: none;
  display: inline;
  letter-spacing: 2px;
  padding: 0 10px;
}

.top-nav a {
  text-decoration: none;
  color: black;
}

.top-nav a:hover {
  color: #7a7a7a;
  transition: color 0.5s ease;
}

/* ==========================================================
 						LEFT INTRO IMAGE
 ==========================================================*/
.image-place {
  background-image: url("images/IMG3.jpg");
  background-size: cover;
  background-position: right;
  float: left;
  width: 50%;
  min-height: 700px;
}

/* ===========================+
       RESUME BUTTONS
 =============================*?*/
.shortBtn {
  display: block;
  position: absolute;
  top: 195px;
  left: -20px;
  width: 0;
}

.shortBtn2 {
  display: block;
  position: absolute;
  top: 140px;
  left: -20px;
  width: 0;
}

.print a {
  text-decoration: none;
  color: #fff;
}

.print p {
  display: block;
  font-size: 16px;
  height: 40px;
  line-height: 45px;
  position: relative;
  text-align: center;
  z-index: 13;
  margin-bottom: 2px;
}

.print i {
  color: #fff;
  top: 18px;
  left: 18px;
  position: absolute;
}

.print span {
  color: #FFFFFF;
  margin: 0;
  font-size: 16px;
  font-weight: 200;
  text-align: center;
  height: 50px;
  line-height: 48px;
  opacity: 1;
  overflow: hidden;
  padding: -1px 10px;
  position: absolute;
  top: 0;
  right: -19px;
  width: 0;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.square1 {
  height: 50px;
  width: 53px;
  background: #000;
  position: relative;
}

.print:hover span {
  background: #000;
  margin-right: 0;
  opacity: 1;
  width: 170px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.square {
  height: 50px;
  width: 53px;
  background: #03cc85;
  position: relative;
}

.download span {
  background: #03CC85;
}

.download i {
  color: #fff;
  background: #03cc85;
  position: absolute;
  top: 18px;
  left: 18px;
}

.download a {
  text-decoration: none;
}

.download p {
  display: block;
  font-size: 16px;
  height: 40px;
  line-height: 45px;
  position: relative;
  text-align: center;
  z-index: 13;
  margin-bottom: 2px;
}

.download span {
  color: #FFFFFF;
  margin: 0;
  font-size: 16px;
  font-weight: 200;
  text-align: center;
  height: 50px;
  line-height: 48px;
  opacity: 1;
  overflow: hidden;
  padding: -1px 10px;
  position: absolute;
  top: 0;
  right: -19px;
  width: 0;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.download:hover span {
  margin-right: 0;
  opacity: 1;
  width: 170px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox */
}

/* ==========================================================
 						RIGHT INTRO INFO
 ==========================================================*/
.right {
  position: relative;
  float: left;
  width: 50%;
  background: #efefef;
  min-height: 400px;
  max-height: 400px;
}

/* ===========================+
 			TOP SECTION NAME
 =============================*?*/
.my-name {
  width: 60%;
  margin: 25px 65px;
  margin-top: 70px;
  font-family: 'open_sansbold' Arial, sans-serif;
}

h1 {
  color: #343434;
  display: block;
  font-size: 28px;
  margin-bottom: 0;
  text-transform: uppercase;
  font-family: 'open_sansbold' Arial, sans-serif;
  font-weight: normal;
}

.my-name span {
  color: #7a7a7a;
  font-size: 14px;
  text-transform: none;
}

.my-name p {
  margin-top: 0;
}

/* ===========================+
 			TOP SECTION TITLE
 =============================*?*/
.my-title {
  width: 60%;
  margin: 0 65px;
  margin-bottom: 120px;
}

h2 {
  text-transform: uppercase;
  color: #343434;
  font-weight: 100;
  padding-top: 10px;
  font-family: 'open_sans' Arial, sans-serif;
}

.my-title p {
  color: #7a7a7a;
  padding-top: 10px;
  font-family: sans-serif;
  font-weight: normal;
}

/* ===========================+
 		BOTTOM SECTION TEXT
 =============================*?*/
.bottom {
  background: #343434;
  float: left;
  width: 50%;
  min-height: 300px;
  max-height: 300px;
}

.profile {
  width: 100%;
  padding: 60px;
}

.profile p {
  color: #f2f2f1;
  font-size: 14px;
  margin: 5px;
  font-weight: 100;
  font-family: sans-serif;
}

.profile span {
  font-weight: 400;
  color: #fff;
  font-family: sans-serif;
}

/* ===========================+
 	BOTTOM SECTION SOCIAL NAV
 =============================*?*/
.social {
  padding-left: 5px;
}

.social ul {
  float: left;
  padding: 0;
}

.social li {
  display: inline;
  list-style-type: none;
  color: #03CC85;
  word-spacing: 8px;
}

.social a {
  color: #03cc85;
  text-decoration: none;
}

.social a:hover {
  color: #7a7a7a;
}

/* ==========================================================
                   PORTFOLIO
 ==========================================================*/
.portfolio {
  clear: both;
  padding-top: 30px;
  width: 100%;
  border-bottom: 4px solid #efefef;
  margin-top: 50px;
}

.port-intro {
  width: 70%;
  margin: 10px auto;
  text-align: center;
  font-size: 20px;
  font-weight: 100;
  color: #7a7a7a;
}

.port-container {
  width: 75%;
  margin: 0 auto;
  margin-bottom: 45px;
  clear: both;
}

.port-head {
  margin: 10px auto;
  width: 70%;
  text-align: center;
  color: #000;
  font-size: 28px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 200;
}

img.port:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.top {
  float: left;
  width: 29%;
  margin-left: 33px;
  margin-top: 15px;
}

.port {
  border-radius: 3px;
  box-shadow: 0 0 10px #bbb;
  margin-left: 10px;
  width: 100%;
  transition: 0.5s;
}

/* ==========================================================
                   SKILLS
 ==========================================================*/
.resume {
  border-bottom: 3px solid #efefef;
  width: 100%;
}

.resume h3 {
  text-align: center;
  font-size: 28px;
  color: #000;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 200;
}

.my-resume p {
  text-align: center;
  color: #7a7a7a;
}

.my-skills {
  width: 80%;
  margin: 0 auto;
}

.cog {
  margin: 10px 185px;
}

.skills-img {
  border: 1px solid yellow;
  width: 51%;
  float: left;
  color: #03cc85;
}

.skills-ex {
  border: 1px solid blue;
  width: 42%;
  float: left;
}

/* ==========================================================
                        CONTACT FORM
 ==========================================================*/
.contact {
  width: 100%;
}

.contact-form {
  width: 80%;
  margin: 0 auto;
}

.contact-message {
  width: 45%;
  float: right;
}

.contact-message h4 {
  color: #000;
  font-size: 28px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 200;
}

.contact-form h3 {
  text-align: center;
  color: #000;
  font-size: 28px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 200;
}

.contact-message {
  margin-top: 60px;
  font-size: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #7a7a7a;
}

.form-contain {
  float: left;
  width: 50%;
  margin: 80px auto;
  max-width: 900px;
}

/* ============================================
               FORM DESIGN
=============================================*/
input {
  font-size: 14px;
  height: 40px;
  margin-bottom: -15px;
  padding: 10px;
  width: 560px;
  outline: none;
  background: #f4f4f4;
  color: #A9A9A9;
  border: 2px solid #f4f4f4;
}

textarea {
  min-height: 250px;
  width: 560px;
  font-size: 14px;
  padding: 10px;
  outline: none;
  background: #f4f4f4;
  color: #A9A9A9;
  border: 2px solid #f4f4f4;
}

input:focus {
  border: 2px solid #03CC85;
}

textarea:focus {
  border: 2px solid #03CC85;
}

.button {
  text-align: center;
}

.submit {
  background: #343434;
  color: #c9c9c9;
  display: inline-block;
  font-size: 16px;
  text-transform: uppercase;
  border: 3px solid #343434;
  font-family: 'open_sans' Arial, sans-serif;
  font-weight: 200;
  width: 98%;
  margin-left: -14px;
  transition: all 0.80s;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
}

textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

input[type="submit"]:hover {
  background-color: #03CC85;
  border: 2px solid #03cc85;
  color: #fff;
}

/* ==========================================================
                        FOOTER
 ==========================================================*/
.footer {
  background-color: #343434;
  color: #c9c9c9;
}

.footer-wrap {
  width: 75%;
  margin: 0 auto;
  padding: 35px;
}

.maste {
  width: 20%;
  float: left;
  padding: 12px;
  text-align: center;
  font-size: 14px;
}

/* ============================================
                FOOTER NAV BAR
 =============================================*/
.footer-nav {
  width: 30%;
  float: right;
}

.footer-nav ul {
  width: 50%;
  float: left;
}

.footer-nav li {
  display: inline-block;
  font-size: 20px;
  letter-spacing: 14px;
}

.footer-nav a {
  color: #c9c9c9;
  text-decoration: none;
}

.in:hover {
  color: #F8630E;
}

.twit:hover {
  color: #00ACED;
}

.git:hover {
  color: #EA4C89;
}

.link:hover {
  color: #0CBADF;
}

/* ============================================
               FORM DESIGN
=============================================*/
.ty body {
  padding-top: 500px;
  font-family: 'open_sans' Arial, sans-serif;
}

.thanks {
  clear: both;
  width: 100%;
  background: #7a7a7a;
}

.thanks-box {
  width: 60%;
  margin: 0 auto;
}

/*========================================================================================
=======================================================================================
                @MEDIA QUERY
===========================================================================================
=======================================================================================*/
/* Portrait tablet and small desktops */
/*landscape phone to portrait tab*/
/* Landscape phones and down */
@media (max-width: 480px) {
  .image-place {
    float: none;
    background-size: cover;
    width: 100%;
    height: 40%;
    min-height: 400px;
    background-position: none;
  }

  .right {
    width: 100%;
  }

  .my-title {
    width: 70%;
  }

  .bottom {
    width: 100%;
  }

  .shortBtn {
    display: none;
  }

  .shortBtn2 {
    display: none;
  }

  /* ============================================
                  PORTFOLIO
   =============================================*/
  .top {
    width: 80%;
  }

  .form-contain {
    width: 100%;
    margin: 0 auto;
  }

  input {
    width: 100%;
  }

  textarea {
    width: 100%;
  }

  .contact {
    margin-bottom: 40px;
  }

  .contact-message {
    display: none;
  }

  .footer-nav {
    width: 100%;
  }

  .maste {
    width: 100%;
  }
}
